html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(105, 105, 100);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(161, 161, 150);
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 1.5rem;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 70px;
    margin-right: 2.97vw;
}

a {
    text-decoration: none;
    color: beige;
    font-size: max(1.76vw, 19px);
    font-weight: 400;
    padding: 0.73vw;
    border-radius: 2rem;
    transition: 0.3s;
}

a:hover {
    background-color: rgb(105, 105, 100);
}

#logo {
    width: max(5.49vw, 50px);
    height: max(5.49vw, 50px);
}

main {
    display: flex;
    flex-direction: row-reverse;
}

#background {
    width: 60%;
    height: 39.97vw;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.83vw;
    font-size: max(1.03vw, 10px);
    font-weight: 800;
}

button {
    width: 21.96vw;
    height: 7.32vw;
    border-radius: 1rem;
    border: 0;
    background-color: rgb(161, 161, 150);
    font-size: max(2.2vw, 18px);
    font-weight: 800;
    font-family: 'Montserrat', 'Segoe UI', sans-serif;

}

button:hover {
    background-color: rgb(197, 197, 190);
}

section {
    margin-top: max(2.2vw, 10px);
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 10px;
}

.box {
    background-color: rgb(161, 161, 150);
    border-radius: 1rem;
    padding: 1.28vw;
    width: auto;
    height: 14.64vw;
}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2.56vw;
    color: rgb(219, 214, 214);
}

p {
    font-size: max(1.46vw, 10px);
    font-weight: 600;
}

h5 {
    margin: 15px;
    font-size: max(1.46vw, 10px);
    font-weight: 800;
}

@media (max-width: 570px) {
    header{
        padding: 1.75vw 2.63vw;
    }

    ul{
        gap: 5.12vw;
    }
    
    a{
        font-size: max(3.33vw, 12px);
    }

    .hero {
        font-size: max(1.75vw, 6.2px)
    }

    button{
        font-size: 3.16vw;
    }

    .box-container {
        display: flex;
        flex-direction: column;
    }

    .box {
        width: 100%;
        height: auto;
        text-align: center;
    }

    p {
        font-size: max(2.63vw, 10px);
    }
}